
body {
    background: lightblue;
    padding: 0 20px 30px 20px;
    font-family: 'Times New Roman';
    font-size: 13pt;
}

h1 {
    font-size: 80px;
    font-family: sans-serif;
    text-align: center;
}

#paragraph2 {
    background-color: white;
    width: 60%;
    margin: 18px 0 18px 10px;
    padding: 22px 28px;
    border: 4px solid green;
    line-height: 2;
}

.blue{
    background: darkblue;
    color: white;
    border: 2px solid #000000;
    padding: 20px;
}

.list1 a{
    color: darkblue;
    font-size: 16px;
}

.red{
    color: red;
}

ol{
    list-style-type: decimal-leading-zero;
    font-size: 26px;
}


table{
    border-collapse: collapse;
    background: #ffffff;
}

th, td{
    border: 1px solid #000;
    padding: 8px 10px;
}

th{
    background: lightgrey;
    text-align: center;
}